.container
  margin: 0 auto
  max-width: 1560px


.header
  padding: 50px 0 90px
  color: #fff
  background: crimson
  background: #e8345a
  text-align: center

  &:hover
    h1
      opacity: .875
      color: #111

  h1
    color: inherit
    cursor: default
    user-select: none
    display: inline-block
    border-bottom: 8px dashed
    transition: all 120ms linear


.section
  padding: 70px 0
