.container
  margin: 0 auto
  max-width: 1560px


.header
  padding: 100px 0
  color: #fff
  background: crimson
  text-align: center

  &:hover
    color: #000

  h1
    color: inherit
    cursor: default
    line-height: 1.5
    user-select: none
    display: inline-block
    border-bottom: 7px dashed
    transition: color 100ms linear


.section
  padding: 70px 0
