// Some common usefull mixins

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin media-min($num) {
  @media only screen and (min-width: $num) {
    @content;
  }
}

@mixin media-max($num) {
  @media only screen and (max-width: $num) {
    @content;
  }
}
