// Text sizes   line-height   font-size  $xl  $l   $m   $s
Text-sizes =    1.35          11         11   11   11   11,
                1.35          13         13   13   13   13,
                1.35          14         14   14   14   14,
                1.35          15         15   15   15   15,
                1.45          16         16   16   13   13,
                1.45          17         17   17   17   17,
                1.45          18         17   17   17   17,
                1.50          19         17   17   17   17,
                1.50          20         19   17   17   17,
                1.35          24         22   20   20   20,
                1.35          28         24   22   22   20,
                1.30          30         24   24   24   22,
                1.10          32         30   28   26   24,
                1.20          36         30   28   26   24,
                1.00          40         34   32   26   26,
                0.95          44         34   32   26   26,
                1.00          50         40   32   28   28,
                1.00          60         50   44   34   34,
                1.02          70         50   48   34   34,
                0.96          80         60   48   34   34,
                1.02          90         80   80   60   40,
                0.93          110        80   80   60   40

for i in Text-sizes
  .-fs{i[1]}
    font-size: (i[1])px !important
    line-height: i[0]
    if i[2] != i[1]
      +media($xl)
        font-size: (i[2])px !important
    if i[3] != i[2]
      +media($l)
        font-size: (i[3])px !important
    if i[4] != i[3]
      +media($m)
        font-size: (i[4])px !important
    if i[5] != i[4]
      +media($s)
        font-size: (i[5])px !important


//Heading sizes
Heading-sizes = "h6" 20 18 17 17 17,
                "h5" 24 24 22 22 20,
                "h4" 36 34 32 26 26,
                "h3" 60 50 44 34 34,
                "h2" 60 50 48 34 34,
                "h1" 28 28 28 28 28

for i in Heading-sizes
  .-fs-{i[0]}
    font-size: (i[1])px
    if i[2] != i[1]
      +media($xl)
        font-size: (i[2])px
    if i[3] != i[2]
      +media($l)
        font-size: (i[3])px
    if i[4] != i[3]
      +media($m)
        font-size: (i[4])px
    if i[5] != i[4]
      +media($s)
        font-size: (i[5])px

h1, h2, h3, h4, h5
  color: #000
  margin: 0 0 20px
  font-weight: 500
  line-height: 1.55
  font-family: $ff-title

h1
  @extends .-fs-h1
  font-weight: 400
  letter-spacing: -0.042em

h2
  @extends .-fs-h2
  letter-spacing: -0.03em

h3
  @extends .-fs-h3
  letter-spacing: -0.03em

h4
  @extends .-fs-h4

h5
  @extends .-fs-h5

h6
  @extends .-fs-h6

