$create-responsive-utils($includeSelf = true)
  if $includeSelf
    {block}
  $media-queries = "xl", "l", "m", "s"
  for $i in $media-queries
    +media(lookup("$" + $i))
      +prefix-classes('-' + $i)
        /{selector()}
          {block}

// size
// ====
.-full
  +$create-responsive-utils()
    width: 100% !important

.-half
  +$create-responsive-utils()
    width: 50% !important

.-third
  +$create-responsive-utils()
    width: 33.33333% !important

.-fourth
  +$create-responsive-utils()
    width: 25% !important

.-two-thirds
  +$create-responsive-utils()
    width: 66.66666% !important

.-three-fourths
  +$create-responsive-utils()
    width: 75% !important


// display
// =======
.-db
  +$create-responsive-utils()
    display: block !important

.-dib
  +$create-responsive-utils()
    display: inline-block !important

.-df
  +$create-responsive-utils()
    display: flex !important
    flex-wrap: wrap

.-dt
  +$create-responsive-utils()
    display: table

.-dtc
  +$create-responsive-utils()
    display: table-caption

.-dn
  +$create-responsive-utils()
    display: none !important


// floats
// ======
.-fl
  +$create-responsive-utils()
    float: left !important

.-fr
  +$create-responsive-utils()
    float: right !important

.-fn
  +$create-responsive-utils()
    float: none !important


// position
// ========
.-ps
  +$create-responsive-utils()
    position: static !important

.-pr
  +$create-responsive-utils()
    position: relative !important

.-pa
  position: absolute !important


// vertical alignment
// ==================
.-vat
  +$create-responsive-utils()
    vertical-align: top !important

.-vam
  +$create-responsive-utils()
    vertical-align: middle !important

.-vab
  +$create-responsive-utils()
    vertical-align: bottom !important

.-vai
  +$create-responsive-utils()
    vertical-align: inherit !important


// text align
// ==========
.-tal
  +$create-responsive-utils()
    text-align: left !important

.-tac
  +$create-responsive-utils()
    text-align: center !important

.-tar
  +$create-responsive-utils()
    text-align: right !important

.-taj
  text-align: justify  !important
  -moz-text-align-last: justify  !important
  text-align-last: justify  !important
  &:after
    content: ""
    display: inline-block
    width: 100%
  > *
    text-align: left


// text transform
// ==============
.-ttl
  text-transform: lowercase !important

.-ttu
  text-transform: uppercase !important

.-ttn
  text-transform: none !important

// Vertical Spacings
// ==============
.-vs0
  > *
    margin-bottom: 0 !important

.-vs1
  > *
    margin-bottom: .5em !important

.-vs2
  > *
    margin-bottom: 1em !important

.-vs3
  > *
    margin-bottom: 1.5em !important

// Vertical Spacings
//
// Used to create some vertical space between the direct descendents of a given element.
// Not bound to ULs only, any child works
//
// Markup:
// <h5>Class: -vs0</h5>
// <ul class="-vs0">
//   <li>Resets the vertical spacing</li>
//   <li>Resets the vertical spacing</li>
//   <li>Resets the vertical spacing</li>
// </ul>
// <hr>
// <h5>Class: -vs1</h5>
// <ul class="-vs1">
//   <li>Sets vertical spacing to .5em</li>
//   <li>Sets vertical spacing to .5em</li>
//   <li>Sets vertical spacing to .5em</li>
// </ul>
// <hr>
// <h5>Class: -vs2</h5>
// <div class="-vs2">
//   <div>Sets vertical spacing to 1em</div>
//   <div>Sets vertical spacing to 1em</div>
//   <div>Sets vertical spacing to 1em</div>
// </div>
// <hr>
// <h5>Class: -vs3</h5>
// <div class="-vs3">
//   <div>Sets vertical spacing to 1.5em</div>
//   <div>Sets vertical spacing to 1.5em</div>
//   <div>Sets vertical spacing to 1.5em</div>
// </div>
//
// Weight: 0
//
// Styleguide Vertical Spacings


// misc
// ====
.-cf,
.-clearfix
  @extend $clearfix

.-vh
  visibility: hidden !important

.-oh
  overflow: hidden !important

.-oya
  -webkit-overflow-scrolling: touch
  overflow-y: auto !important

.-pen
  pointer-events: none !important

.-hyphenate
  +$create-responsive-utils()
    overflow-wrap: break-word
    word-wrap: break-word
    hyphens: auto

.-wsn
  +$create-responsive-utils()
    white-space: nowrap !important

.-hide-text
  +$create-responsive-utils()
    overflow: hidden !important
    text-indent: 100% !important
    white-space: nowrap !important

// font family
// ===========
.-ff-base
  font-family: $ff-base !important

.-ff-roboto
  font-family: $ff-roboto !important

.-ff-metric
  font-family: $ff-metric !important


// font weight
// ===========
.-fw2
  font-weight: 200 !important

.-fw3
  font-weight: 300 !important

.-fw4
  font-weight: 400 !important

.-fw5
  font-weight: 500 !important

.-fwi
  font-weight: inherit !important


// font style
// ==========
.-fsn
  font-style: normal !important

.-fsi
  font-style: italic !important


// line-height
// ===========
// .-lh { ... }


.-tdn
  text-decoration: none !important
  background-image: none !important



// margins and paddings
// ====================

//       class prefix  property        iterations
$utils = p             padding        5,
         pt            padding-top    15,
         pb            padding-bottom 15,
         pr            padding-right  10,
         pl            padding-left   10,
         m             margin         5,
         mt            margin-top     10,
         mb            margin-bottom  15,
         mr            margin-right   10,
         ml            margin-left    10

for $item in $utils
  for $i in $item[2]..0
    .-{$item[0]}{$i}
      if $i > 5
        {$item[1]}: ($i == 0 ? $i : $i * 10px) !important
      else
        +$create-responsive-utils()
          {$item[1]}: ($i == 0 ? $i : $i * 10px) !important



+media($xl)
  //margins - top
  .-mt4
    margin-top: 30px !important
  .-mt5,
  .-mt6
    margin-top: 40px !important

  .-mt8,
  .-mt9
    margin-top: 70px !important

  .-mt10
    margin-top: 80px !important

  //margins - bottom
  .-mb4
    margin-bottom: 30px !important
  .-mb5,
  .-mb6
    margin-bottom: 40px !important

  .-mb8,
  .-mb9
   margin-bottom: 70px !important

  .-mb10
    margin-bottom: 80px !important

  //paddings - top
  .-pt4
    padding-top: 30px !important

  .-pt5,
  .-pt6
    padding-top: 40px !important

  .-pt7,
  .-pt8,
  .-pt9,
  .-pt10
    padding-top: 70px !important

  .-pt11,
  .-pt12,
  .-pt13
    padding-bottom: 100px !important

  //paddings - bottom
  .-pb4
    padding-bottom: 30px !important

  .-pb5,
  .-pb6
    padding-bottom: 40px !important

  .-pb7,
  .-pb8,
  .-pb9
    padding-bottom: 70px !important

  .-pb10
    padding-bottom: 80px !important

  .-pb11,
  .-pb12,
  .-pb13,
  .-pb14,
  .-pb15
    padding-bottom: 100px !important

  //paddings - left
  .-pl3
    padding-left: 20px !important
  .-pl5
    padding-left: 40px !important

  //paddings - right
  .-pr3
    padding-right: 20px !important
  .-pr5
    padding-right: 40px !important

+media($l)
  //margins - top
  .-mt7
    margin-top: 40px !important

  //margins - bottom
  .-mb8,
  .-mb9
    margin-bottom: 50px !important

  //paddings - top
  .-pt5
    padding-top: 30px !important

  //paddings - bottom
  .-pb5
    padding-bottom: 30px !important

  //paddings - left
  .-pl5
    padding-left: 30px !important

  //paddings - right
  .-pr5
    padding-right: 30px !important

+media($m)
  //margins - bottom
  .-mb7
    margin-bottom: 50px !important

+media($s)
  //margins - top
  .-mt3,
  .-mt4,
  .-mt5,
  .-mt6
    margin-top: 20px !important

  .-mt7,
  .-mt8,
  .-mt9,
  .-mt10
    margin-top: 30px !important

  //margins - bottom
  .-mb3,
  .-mb4,
  .-mb5,
  .-mb6
    margin-bottom: 20px !important

  .-mb7,
  .-mb8,
  .-mb9,
  .-mb10
    margin-bottom: 30px !important

  //paddings - top
  .-pt3,
  .-pt4,
  .-pt5,
  .-pt6
    padding-top: 20px !important

  .-pt7,
  .-pt8,
  .-pt9,
  .-pt10
    padding-top: 30px !important

  //paddings - bottom
  .-pb3,
  .-pb4,
  .-pb5,
  .-pb6
    padding-bottom: 20px !important

  .-pb7,
  .-pb8,
  .-pb9,
  .-pb10
    padding-bottom: 30px !important

  //paddings - left
  .-pl5
    padding-left: 20px !important

  //paddings - right
  .-pr5
    padding-right: 20px !important

.-ma
  +$create-responsive-utils()
    margin: 0 auto
