#main paper-button {
  padding-left: 20px
  padding-right: 20px
  background-color: #3598db
  color: white;
  --paper-button-raised-keyboard-focus: {
    background-color: #3598db !important
    color: white !important
  }
}
