paper-button.btn-prim {
  text-transform: none
  padding-left: 40px
  padding-right: 40px
  background-color: #3598db
  color: white;
  --paper-button-raised-keyboard-focus: {
    background-color: #3598db !important
    color: white !important
  }
}
