@font-face
  font-family: "few-icon-font"
  src: url("/iconfont/few-icon-font-9891764e4a.eot")
  src: url("/iconfont/few-icon-font-9891764e4a.eot?#iefix") format("eot"),
    url("/iconfont/few-icon-font-9891764e4a.woff2") format("woff2"),
    url("/iconfont/few-icon-font-9891764e4a.woff") format("woff"),
    url("/iconfont/few-icon-font-9891764e4a.ttf") format("truetype"),
    url("/iconfont/few-icon-font-9891764e4a.svg#few-icon-font") format("svg")
  font-weight: normal
  font-style: normal

[class^="-i-"]:before,
[class*=" -i-"]:before
  font-family: "few-icon-font"
  vertical-align: middle
  font-weight: normal
  font-style: normal
  speak: none
  text-decoration: inherit
  text-transform: none
  text-rendering: geometricPrecision
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.-i-android:before { content: "\b1" }
.-i-arrow-d:before { content: "\b2" }
.-i-arrow-l:before { content: "\b3" }
.-i-arrow-r:before { content: "\b4" }
.-i-arrow-u:before { content: "\b5" }
.-i-circle:before { content: "\b6" }
.-i-download:before { content: "\b7" }
.-i-error:before { content: "\b8" }
.-i-facebook:before { content: "\b9" }
.-i-github:before { content: "\ba" }
.-i-google:before { content: "\bb" }
.-i-info:before { content: "\bc" }
.-i-ios:before { content: "\bd" }
.-i-linkedin:before { content: "\be" }
.-i-login:before { content: "\bf" }
.-i-mail:before { content: "\c0" }
.-i-menu:before { content: "\c1" }
.-i-play:before { content: "\c2" }
.-i-search:before { content: "\c3" }
.-i-share:before { content: "\c4" }
.-i-success:before { content: "\c5" }
.-i-twitter:before { content: "\c6" }
.-i-warning:before { content: "\c7" }
.-i-world:before { content: "\c8" }
.-i-youtube:before { content: "\c9" }
