.mi
  width: 20px
  height: 20px
  display: inline-block
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat
  vertical-align: middle
  font-size: 0

.mi-play
  background-image: url('../img/mi-play.svg')

.mi-play-circle
  background-image: url('../img/mi-play-circle.svg')

.mi-event
  background-image: url('../img/mi-event.svg')
