#tests-view
  .sidebar-navigation-selected:hover
    background-color: #F5F7F8 !important

  table
    width: 100%
    text-align: left
    border-collapse: collapse
    border: 1px solid #cbcbcb
    font: 400 13px monospace


  table th
    padding: 8px 0
    font-size: 11px
    font-weight: 500
    color: gray
    background: #e5e5e5
    text-transform: uppercase
    border-bottom: 1px solid #cbcbcb
    &:first-child
      text-align: center


  table td
    color: gray
    font-weight: 400
    padding: 10px 0

  tbody tr > td:first-child
    text-align: center


  table tbody tr:hover td
    color: #6a6a6a
    background: #e5e5e5


  table tr
    border-bottom: 1px dashed #cbcbcb


  /*Table CSS END*/

  .test-success
    color: #86CB35


  .test-fail
    color: #EB0001


  .add-btn
    margin: 10px 0 0 0px
    height: 30px
    width: 150px
    background-color: #86CB35
    color: white


  .upload-btn
    margin: 10px 0 0 0px
    height: 30px
    width: 150px
    background-color: #3F51B5
    color: white


  .scheduling-button
    float: right
    margin-right: 15px
    color: gray


  // .run-suita-now
  //   color: gray


  #loading-box
    height: 900px
    background-color: #F5F7F8
    text-align: center
    line-height: 900px
    font-size: 20px


  .upload-package-button
    color:#3F51B5
    text-decoration: none


  .test-result
    width:50px
    height:10px
    border-radius: 2px
    display: inline-block
    vertical-align: middle

  .suite-header-actions
    padding: 0 8px
    > a, > span
      margin: 0 8px

  .test-result-0
    background-color: #E10000


  .test-result-40
    background-color: #ff6a00


  .test-result-80
    background-color: #ffd800


  .test-result-100
    background-color:  #86CB35

  .running-test
    animation: blink-animation 500ms steps(5, start) infinite alternate


.suite-header
  display: flex
  justify-content: space-between

  h6
    margin: 0
    font-weight: 500

.k-state-selected .suite-header h6
  color: cornflowerblue



@keyframes blink-animation
  from
    opacity: 0
  to
    opacity: 1


@keyframes blink-animation2
  from
    opacity: 1
  to
    opacity: 0

