.ModuleB {
  color: #000;
  background: #000;
}

.ModuleB-list {
  list-style: none;
}

.ModuleB-list-item {
  background: #c00;
}


// Example of @media-max mixin
.media-b {
  width: 400px;
  @include media-max(980px) {
    max-width: 100%;
  }
}
