.box
  height: 100%
  margin: 10px
  padding: 0 15px
  background: #fff
  box-shadow: 0 1px #fff inset, 0 1px 3px rgba(34, 25, 25, 0.4)


  h2
    @extend h4
    padding: 4px
    border-bottom: 3px solid deeppink


  ul
    font-size: 17px
    margin: 0
    padding: 0

    > li
      margin: 10px
      padding: 10px

    > li:hover
      color: #fff
      background: alpha(#000, .5)
