<style is="custom-style">
  paper-checkbox.green {
    --paper-checkbox-checked-color: var(--paper-green-500);
    --paper-checkbox-checked-ink-color: var(--paper-green-500);
    --paper-checkbox-unchecked-color: var(--paper-green-900);
    --paper-checkbox-unchecked-ink-color: var(--paper-green-900);
    /*--paper-checkbox-label-color: var(--paper-green-500);*/
  }
</style>


<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Setup Your Testing Environment...</h1>
      <br><br>
      <form action="#" novalidate>
        <div class="form-field">
          <paper-checkbox class="green"><b>Basic</b></paper-checkbox>
        </div>

        <div class="form-field">
          <paper-checkbox class="green" style="width:220px"><b>Telerik Testing Framework</b></paper-checkbox>
          <paper-dropdown-menu label="Test Executor">
            <paper-listbox class="dropdown-content">
              <paper-item>NUnit</paper-item>
              <paper-item>MSTest</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>

        <div class="form-field -mb4">
          <paper-checkbox class="green" style="width:220px"><b>Selenium WebDriver</b></paper-checkbox>
          <paper-dropdown-menu label="Test Executor">
            <paper-listbox class="dropdown-content">
              <paper-item>NUnit</paper-item>
              <paper-item>MSTest</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>

        <div class="form-field">
          <div class="-dib">
          <paper-button id="js-submit" raised class="custom">Setup Digital Testing</paper-button>
          <p class="-tac" style="margin: 2px"><small>could take couple of minutes</small></p>
          </div>
        </div>
      </form>


      <section id="js-form-ok" class="-dn">
        <style is="custom-style">
          paper-progress {
            width: 430px !important;
            margin-bottom: 30px;
          }
          paper-progress.slow {
            --paper-progress-indeterminate-cycle-duration: 5s;
          }
        </style>

        <p>Setting up environment...</p>
        <paper-progress id="js-bar1"></paper-progress>

        <p>Installing Telerik Testing Framework...</p>
        <paper-progress id="js-bar2" class="slow"></paper-progress>

        <p>Generating basic tests...</p>
        <paper-progress id="js-bar3"></paper-progress>

        <p>Lorem ipsum dolor sit amet...</p>
        <paper-progress id="js-bar4"></paper-progress>
      </section>

    </div>
  </div>
</div>


<paper-button raised onclick="animated.open()">OK</paper-button>
<paper-dialog id="animated" entry-animation="slide-from-top-animation" exit-animation="fade-out-animation" with-backdrop>
  <h2 style="color: #0f9d58">Setup is Done</h2>
  <p>Now you are ready to start creating test cases or upload your existing setup!</p>
  <paper-button raised onclick="animated.close()">OK</paper-button>
</paper-dialog>
