<section id="tests-view">

	<div id="loading-box">
		Loading
		<img src="img/loading.gif" alt="" />
	</div>
	<div class="layout-container" style="display:none;">
		<h5>Testing</h5>
		<div class="demo-section k-content">
			<div id="tabstrip">
				<ul>
					<li class="k-state-active">Basic</li>
					<li>Test Studio</li>
					<li>Selenium</li>
				</ul>

				<div>
					<ul id="panelbar">
						<li class="k-state-active">
							<span class="k-link k-state-selected">
              <div class="suite-header">
                <h6>Forms Tests</h6>
                <div class="suite-header-actions">
    							<span class="test-result test-result-100"></span>
							<a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle"></i></a>
							<a title="Scheduling" href="#" class="scheduling-button"><i class="mi mi-event"></i></a>
				</div>
			</div>
			</span>

			<div style="padding: 10px;">
				<table class="report-table">
					<thead>
						<tr>
							<th>Run</th>
							<th>Name</th>
							<th>Last Success</th>
							<th>Last Failure</th>
							<th>History</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
							<td>ProgressCom.Education.RegisterForm.Submit</td>
							<td>1 min 10 sec</td>
							<td>7 days 18 hr</td>
							<td>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-fail"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
							</td>
						</tr>
						<tr>
							<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
							<td>ProgressCom.Education.RegisterForm.Validation</td>
							<td>4 min 55 sec</td>
							<td>3 days 18 hr</td>
							<td>
								<a href="/details"><i class="fa fa-circle test-fail"></i></a>
								<a href="/details"><i class="fa fa-circle test-fail"></i></a>
								<a href="/details"><i class="fa fa-circle test-fail"></i></a>
								<a href="/details"><i class="fa fa-circle test-fail"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
								<a href="/details"><i class="fa fa-circle test-success"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="add-new-test-btn add-btn"><i class="fa fa-plus" style="margin-left:-15px;margin-right:5px;"></i> Add new test</button>
			</div>
			</li>
			<li>
				<span class="k-link">
              <div class="suite-header">
                <h6>Performance Tests</h6>
                <div class="suite-header-actions">
                  <span class="test-result test-result-0"></span>
				<a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle"></i></a>
				<a title="Scheduling" href="#" class="scheduling-button"><i class="mi mi-event"></i></a>
		</div>
	</div>
	</span>
	<div style="padding: 10px;">
		<table class="report-table">
			<thead>
				<tr>
					<th>Run</th>
					<th>Name</th>
					<th>Last Success</th>
					<th>Last Failure</th>
					<th>History</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
					<td>ProgressCom.PerfTests.HomePage </td>
					<td>1 min 10 sec</td>
					<td>7 days 18 hr</td>
					<td>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
					</td>
				</tr>
				<tr>
					<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
					<td>ProgressCom.PerfTests.EducationRegisterPage</td>
					<td>4 min 55 sec</td>
					<td>3 days 18 hr</td>
					<td>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
					</td>
				</tr>
				<tr>
					<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
					<td>ProgressCom.PerfTests.ProductPages</td>
					<td>4 min 11 sec</td>
					<td>15 days 18 hr</td>
					<td>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
					</td>
				</tr>
				<tr>
					<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
					<td>ProgressCom.PerfTests.BackendPages</td>
					<td>1 min 23 sec</td>
					<td>10 days 18 hr</td>
					<td>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-success"></i></a>
						<a href="/details"><i class="fa fa-circle test-fail"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="add-new-test-btn add-btn"><i class="fa fa-plus" style="margin-left:-15px;margin-right:5px;"></i> Add new test</button>
	</div>
	</li>
	<li>
		<span class="k-link">
              <div class="suite-header">
                <h6>Heartbeat Tests</h6>
                <div class="suite-header-actions">
                  <span class="test-result test-result-100"></span>
		<a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle"></i></a>
		<a title="Scheduling" href="#" class="scheduling-button"><i class="mi mi-event"></i></a>
		</div>
		</div>
		</span>

		<div style="padding: 10px;">
			<table class="report-table">
				<thead>
					<tr>
						<th>Run</th>
						<th>Name</th>
						<th>Last Success</th>
						<th>Last Failure</th>
						<th>History</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
						<td>ProgressCom.HeartBeat.Login</td>
						<td>1 min 10 sec</td>
						<td>7 days 18 hr</td>
						<td>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
						</td>
					</tr>
					<tr>
						<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
						<td>ProgressCom.HeartBeat.BrowseProductPages</td>
						<td>4 min 55 sec</td>
						<td>3 days 18 hr</td>
						<td>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="#" class="running-test"><i class="fa fa-circle test-success"></i></a>
						</td>
					</tr>
					<tr>
						<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
						<td>ProgressCom.HeartBeat.Awards.VerifyPaging</td>
						<td>4 min 11 sec</td>
						<td>15 days 18 hr</td>
						<td>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
						</td>
					</tr>
					<tr>
						<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
						<td>ProgressCom.HeartBeat.Company.VerifyCompanyPages</td>
						<td>1 min 23 sec</td>
						<td>10 days 18 hr</td>
						<td>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="#" class="running-test"><i class="fa fa-circle test-success"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<button class="add-new-test-btn add-btn"><i class="fa fa-plus" style="margin-left:-15px;margin-right:5px;"></i> Add new test</button>
		</div>
	</li>
	<li>
		<span class="k-link">
              <div class="suite-header">
                <h6>Image Verification Tests</h6>
                <div class="suite-header-actions">
                  <span class="test-result test-result-100"></span>
		<a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle"></i></a>
		<a title="Scheduling" href="#" class="scheduling-button"><i class="mi mi-event"></i></a>
		</div>
		</div>
		</span>
		<div style="padding: 10px;">
			<table class="report-table">
				<thead>
					<tr>
						<th>Run</th>
						<th>Name</th>
						<th>Last Success</th>
						<th>Last Failure</th>
						<th>History</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
						<td>ProgressCom.ImageComparison.VerifyProductPages</td>
						<td>1 min 10 sec</td>
						<td>7 days 18 hr</td>
						<td>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-fail"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
						</td>
					</tr>
					<tr>
						<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
						<td>ProgressCom.ImageComparison.VerifyAuthenticationPages</td>
						<td>4 min 55 sec</td>
						<td>3 days 18 hr</td>
						<td>
							<a href="/details"><i class="fa fa-circle test-fail"></i></a>
							<a href="/details"><i class="fa fa-circle test-fail"></i></a>
							<a href="/details"><i class="fa fa-circle test-fail"></i></a>
							<a href="/details"><i class="fa fa-circle test-fail"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
						</td>
					</tr>
					<tr>
						<td><a title="Run Now" href="#" class="run-suita-now"><i class="mi mi-play-circle "></i></a></td>
						<td>ProgressCom.ImageComparison.VerifyCampagnPages</td>
						<td>4 min 11 sec</td>
						<td>15 days 18 hr</td>
						<td>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
							<a href="/details"><i class="fa fa-circle test-success"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<button class="add-new-test-btn add-btn"><i class="fa fa-plus" style="margin-left:-15px;margin-right:5px;"></i> Add new test</button>
		</div>
	</li>
	<!-- Example for nested dropdowns -->
	<!--<li>
						Projects
						<ul>
							<li>New Business Plan</li>
							<li>
								Sales Forecasts
								<ul>
									<li>Q1 Forecast</li>
									<li>Q2 Forecast</li>
									<li>Q3 Forecast</li>
									<li>Q4 Forecast</li>
								</ul>
							</li>
							<li>Sales Reports</li>
						</ul>

					</li>-->
	<!-- Example for disabled -->
	<!--<li disabled="disabled">
						Communication
					</li>-->
	</ul>
	<button class="add-new-test-btn add-btn add-new-suite-btn" style="float:right;"><i class="fa fa-plus" style="margin-left:-15px;margin-right:5px;"></i> Add test suite</button>
	</div>

	<div>
		<div id="teststudio-upload-wrapper" style="text-align:center;">
			<a href="#" class="upload-package-button js-upload-package-modal">
				<i class="fa fa-archive" style="font-size:80px;"></i><br />
				<strong>UPLOAD PACKAGE</strong>
			</a>
			<p>Required: <br/>TestStudio version: 1.254.487.1 <a href="#" style="color:#3F51B5;text-decoration:none;">[Change]</a></p>
		</div>

		<div id="teststudio-upload-fake-loading" style="display:none;">
			<!--style="display:none;"-->
			<div class="form-field">
				<p>Analizing your test solution ...</p>
				<paper-progress id="js-analize-bar" class="slow"></paper-progress>
			</div>
			<div class="form-field">
				<p>Analizing your test solution ...</p>
				<paper-progress id="js-analize-bar2" class="slow"></paper-progress>
			</div>
		</div>
		<div id="teststudio-upload-result" style="display:none;">
			Result ...
		</div>
	</div>

	<div>
		<div style="text-align:center;">
			<a href="#" class="upload-package-button js-upload-package-modal">
				<i class="fa fa-archive" style="font-size:80px;"></i><br />
				<strong>UPLOAD PACKAGE</strong>
			</a>
			<p>Required: <br />Selenium version: 1.254.487.1 <a href="#" style="color:#3F51B5;text-decoration:none;">[Change]</a></p>
		</div>
	</div>

	</div>
	</div>
	</div>


	<div id="add-new-test-dialog">
		<strong>Page name:</strong><br /> http://www.progress.com/ <input id="pages" style="width: 50%;" />
		<button class="add-btn js-add-test-btn" style="width:70px;"><i class="fa fa-plus" style="margin-left:-10px;margin-right:5px;"></i>Add</button>
	</div>

	<div id="upload-package-dialog">
		<h5>Test Studio Package:</h5>
		<input type="file" />
		<button class="upload-btn js-upload-btn"><i class="fa fa-upload" style="margin-left:-10px;margin-right:5px;"></i>Upload</button>
	</div>

	<div id="scheduling-dialog">
		<div class="container" style="width:600px">
			<div class="row">
				<div class="col-4">
					<input id="period" />
				</div>
				<div class="col-4">
					<input id="time" />
				</div>
				<div class="col-4" id="show-time">
					<input id="time2" />
				</div>
			</div>
			<div class="row" style="margin-top:10px;">
				<div class="col-3">
					<button id="primaryTextButton" class="k-primary k-button" data-role="button" role="button" aria-disabled="false" tabindex="0">Schedule</button>
				</div>
			</div>
		</div>
	</div>

</section>