    <style>
        .k-window-titlebar {
            height: 33px !important;
        }
    </style>


    <div id="example">
        <div id="window">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Every </span>
                        <select id="period" placeholder="Select">
                            <option>Day</option>
                            <option>Month</option>
                            <option>Year</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <span>at </span>
                        <select id="time" placeholder="Select">
                            <option>01am</option>
                            <option>02am</option>
                            <option>03am</option>
                            <option>04am</option>
                            <option>05am</option>
                            <option>06am</option>
                            <option>07am</option>
                            <option>08am</option>
                            <option>09am</option>
                            <option>10am</option>
                            <option>11am</option>
                            <option>12am</option>
                            <option>01pm</option>
                            <option>02pm</option>
                            <option>03pm</option>
                            <option>04pm</option>
                            <option>05pm</option>
                            <option>06pm</option>
                            <option>07pm</option>
                            <option>08pm</option>
                            <option>09pm</option>
                            <option>10pm</option>
                            <option>11pm</option>
                            <option>12pm</option>
                        </select>
                    </div>
                </div>
                <div cl`ass="row">
                    <div class="col-md-5">
                        <button id="primaryTextButton" class="k-primary k-button" data-role="button" role="button" aria-disabled="false" tabindex="0">Schedule</button>
                    </div>
                </div>
            </div>
        </div>

        <span id="undo" style="display: none" class="k-button hide-on-narrow">Click here to open the window.</span>


        <div class="row">
            <div class="col-md-6">
                Test1
            </div>
            <div class="col-md-6">
                Test2
            </div>
            </div>






    </div>

    

    <script>

    </script>

</body>
</html>
