    <style>
        .k-window-titlebar {
            height: 33px !important;
        }
    </style>

    <div id="example">
        <div id="window">
            <div class="container" style="width:600px">
                <div class="row">
                    <div class="col-md-4">
                        <input id="period" />
                    </div>
                    <div class="col-md-4">
                        <input id="time" />
                    </div>
                     <div class="col-md-4" id="show-time">
                        <input id="time2" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-3">
                        <button id="primaryTextButton" class="k-primary k-button" data-role="button" role="button" aria-disabled="false" tabindex="0">Schedule</button>
                    </div>
                </div>
            </div>
        </div>
        <span id="undo" style="display: none" class="k-button hide-on-narrow">Click here to open the window.</span>
    </div>
