<style>
	#app-content {
		padding: 0;
	}

	#app-content > div:first-of-type {
		height: 100%;
	}

	.flex-box {
		display: flex;
		flex-flow: column;
		height: 100%;
	}
	
	.flex-box .flex-row.header {
		flex: 0 1 auto;
	}
	
	.flex-box .flex-row.content {
		flex: 1 1 auto;
	}
	
	#content-wrapper {
		position: relative;
		height: 100%;
	}
	
	.content-section {
		position: absolute;
		height: 100%
	}
	
	#site-content {
		right: 300px;
		left: 0;
		overflow: hidden;
	}
	
	#site-content iframe {
		width: 100%;
		height: 100%;
		display: block;
	}
	
	#tests-setup {
		right: 0;
		width: 300px;
		overflow: auto;
	}
	
	#highlighter {
		position: absolute;
		border: 1px solid blue;
		background-color: rgba(0, 0, 255, 0.18);
		pointer-events: none;
		top: -10px;
		left: -10px;
		width: 0;
		height: 0;
	}

	.editable {
		display: inline-block;
	}
	
	.editable .inline-edit-action {
		vertical-align: middle;
		font-size: 28px;
		color: #2d3e50;
	}
	.editable input {
		height: 13px;
		padding: 3px;
	}

	#tests-setup .section-header {
		background-color: #33495f;
		color: hsla(0, 0%, 100%, .5);
		font-size: 25px;
		text-align: center;
		padding: 5px 0;
		position: relative;
		border-bottom: 2px solid #2d3e50;
	}

	#tests-setup .section-header h2 {
		margin: 0;
		color: hsla(0, 0%, 100%, .5);
		font-size: 25px;
	}

	#tests-setup .section-header .fa {
		color: #448c44;
		position: absolute;
		right: 5px;
		top: 0px;
		line-height: 48px;
		text-decoration: none;
	}

	#tests-setup:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 15px;
		height: 100%;
		box-shadow: inset 5px 0 10px 0 rgba(0,0,0,.2);
		pointer-events: none;
	}

	.tp-input {
		line-height: 1.4em;
		vertical-align: top;
		width: 100%;
		position: relative;
		display: inline-block;
		box-sizing: border-box;
	}

	.tp-input .input {
		font-family: "Open Sans", sans-serif;
		font-size: 12px;
		-webkit-transition: border-color .3s;
				transition: border-color .3s;
		width: 100%;
		border: 1px solid rgba(45, 62, 80, 0.3);
		border-radius: 2px;
		background-color: #fff;
		outline: 0;
		display: block;
		height: 28px;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.tp-input .input:focus, .tp-input .input:hover {
		border-color: rgba(45, 62, 80, 0.5);
	}

	.tp-input label {
		font-size: 12px;
		color: #2d3e50;
		margin: 0 0 0.38em;
		font-weight: 600;
	}

	.tp-input .hint {
		font-size: 12px;
		color: rgba(45, 62, 80, 0.7);
		width: 100%;
		margin: 0;
	}

	.test-step {
		border-bottom: 1px dotted rgb(45, 62, 80);
		padding: 10px;
		position: relative;
	}

	.test-step-controls {
		position: absolute;
		bottom: 6px;
		right: 10px;
	}

	.test-step-controls a {
		text-decoration: none;
		color: #33495f;
	}

	.tp-input .tp-icon-input {
		position: relative;
	}

	.tp-input .icon {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 28px;
		text-decoration: none;
		padding: 0 10px;
		background-color: #33495f;
		border-radius: 0 2px 2px 0;
		color: hsla(0, 0%, 100%, .5);
	}

	.tp-input .tp-icon-input input {
		padding-right: 40px;
	}

	.test-case-section-header {
		font-weight: 500;
		color: #6c7885;
		font-family: "Open Sans", sans-serif;
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 0;
		text-align: center;
		border-bottom: 1px solid #6c7885;
		box-sizing: border-box;
		margin: 0 10px;
		padding: 5px 0;
	}

	.suites-selector-section {
		padding: 10px 10px 0;
	}

	.select2-container {
		display: block;
	}

	.select2-container--default.select2-container--focus .select2-selection--multiple {
		border-color: rgba(45, 62, 80, 0.5);
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #33495f;
		color: hsla(0, 0%, 100%, .5);
		font-weight: 400;
	}

	.save-section {
		padding: 10px;
	}

	.save-button {
		display: block;
		text-align: center;
		text-transform: uppercase !important;
	}
</style>



<script id="testCaseHeaderTemplate" type="text/x-kendo-template">
	<span class="editable">#= name #</span>
</script>

<script id="testCaseTemplate" type="text/x-kendo-template">
	<h4 class="test-case-section-header">1. Steps</h4>
	<div class="test-case-steps"></div>
	<h4 class="test-case-section-header">2. Asserts</h4>
	<div class="test-case-asserts"></div>
	<h4 class="test-case-section-header">3. Tags (Suites)</h4>
	<div class="suites-selector-section">
		<select class="suites-selector" multiple="multiple">
			<option value="forms">Forms</option>
			<option value="heartbeat">Heartbeat</option>
			<option value="authentication">Authentication</option>
		</select>
	</div>
	<h4 class="test-case-section-header">4. Save</h4>
	<div class="save-section">
		<paper-button raised class="save-button btn-prim">Save</paper-button> 
	</div>
</script>

<script id="testStepTemplate" type="text/x-kendo-template">
    <div class="test-step">
		<div class="tp-input test-step-item">
			<label>Element selector:</label>
			<div class="tp-icon-input">
				<input class="input selector-input" value="#= inputSelector #" type="text">
				<a href="\\#" class="icon fa fa-plus"></a>
			</div>							
			<p class="hint">Valid CSS selector</p>
		</div>

		<div class="tp-input test-step-item">
			<label>Action:</label>
			<select class="input action-input">
			# for (var i = 0; i < actions.length; i++) { #
				<option value="#= actions[i].value #" # if (actions[i].value === selectedAction) { # selected="selected" # } #>#= actions[i].text #</option>
			# } #
			</select>
			<p class="hint">Action to execute against the element</p>
		</div>

		<div class="tp-input test-step-item value-step-item">
			<label>Value:</label>
			<input class="input" value="#= actionValue #" type="text">
			<p class="hint">Action value</p>
		</div>

		<div class="test-step-controls">
			<a href="\\#" class="fa fa-plus-circle add-control" aria-hidden="true"></a>
			<a href="\\#" class="fa fa-minus-circle remove-control" aria-hidden="true"></a>
		</div>
	</div>
</script>

<script id="testAssertTemplate" type="text/x-kendo-template">
	<div class="test-step">
		<div class="tp-input test-step-item">
			<label>Object:</label>
			<select class="input assert-object-selector">
				<option  value="url-path" # if (object === 'url-path') { # selected="selected" # } #>URL Path</option>
				<option value="full-url" # if (object === 'full-url') { # selected="selected" # } #>Full URL</option>
				<option value="element" # if (object === 'element') { # selected="selected" # } #>Element</option>
			</select>
			<p class="hint">Object to assert</p>
		</div>

		<div class="assert-object-config url-path full-url">
			<div class="tp-input test-step-item">
				<label>Operation:</label>
				<select class="input">
					<option value="equals" # if (operation === 'equals') { # selected="selected" # } #>Equals</option>
					<option value="contains" # if (operation === 'contains') { # selected="selected" # } #>Contains</option>
					<option value="ends-with" # if (operation === 'ends-with') { # selected="selected" # } #>Ends With</option>
					<option value="starts-with" # if (operation === 'starts-with') { # selected="selected" # } #>Starts With</option>
				</select>
				<p class="hint">Operation to execute</p>
			</div>

			<div class="tp-input test-step-item">
				<label>Value:</label>
				<input class="input" value="#= value #" type="text">
				<p class="hint">Operation value</p>
			</div>
		</div>

		<div class="assert-object-config element">
			<div class="tp-input test-step-item">
				<label>Element selector:</label>
				<div class="tp-icon-input">
					<input class="input selector-input" value="#= elementSelector #" type="text">
					<a href="\\#" class="icon fa fa-plus"></a>
				</div>							
				<p class="hint">Valid CSS selector</p>
			</div>

			<div class="tp-input test-step-item">
				<label>Operation:</label>
				<select class="input">
					<option value="exist" # if (operation === 'exist') { # selected="selected" # } #>Exist</option>
					<option value="does-not-exist" # if (operation === 'does-not-exist') { # selected="selected" # } #>Does Not Exist</option>
					<option value="visible" # if (operation === 'visible') { # selected="selected" # } #>Visible</option>
				</select>
				<p class="hint">Operation to execute</p>
			</div>
		</div>

		<div class="test-step-controls">
			<a href="\\#" class="fa fa-plus-circle add-control" aria-hidden="true"></a>
			<a href="\\#" class="fa fa-minus-circle remove-control" aria-hidden="true"></a>
		</div>

	</div>
</script>

<div id="content-wrapper" class="flex-row content">
	<div id="site-content" class="content-section">
		<div id="highlighter"></div>
		<iframe src="http://wwwdev.progress.com/services/education/register" frameborder="0"></iframe>
	</div>
	<aside id="tests-setup" class="content-section">
		<div class="section-header">
			<h2>Tests on page</h2>
			<a href="#" id="addTestCaseBtn" class="fa fa-plus-circle" aria-hidden="true"></a>
		</div>
		<ul id="testPanel">
		</ul>

	</aside>
</div>